/a.exe
/Array
/arrayQus.pdf
/Circlet
/gross-sal.c
/gross-sal.exe
/Indicator
/lbw-1.c
/lbw-1.exe
/lbw-2.c
/lbw-2.exe
/lbw-3.c
/lbw-3.exe
/Looper Program
/marksheet.c
/marksheet.exe
/min-max.c
/min-max.exe
/Practical exam
/prog-2.c
/prog-2.exe
/simple grade calc
/simple interest.c
/String
/temp.c
/temp.exe
/tringle.c
/tringle.exe